@model com.Sconit.Entity.ACC.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListUsers</h2>

<div id="example" class="k-content">

    <div class="demo-section">
        <div id="grid"></div>
    </div>
</div>

<script>
        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "/home/GetUsers",
                        dataType: "json",
                        type: "post"
                    }
                },
                pageSize: 50
            },
            selectable: "multiple cell",
            pageable: true,
            sortable: true,
            scrollable: false,
            columns: [
                {
                    field: "Code",
                    title: "Code",
                    width: 120,
                    template: '<a href="@Url.Action("Edit", "User")/#: Id#">#: Code#</a>'

            },
                {
                    field: "Password",
                    title: "Password",
                    width: 140
                },
                {
                    field: "FirstName",
                    title: "FirstName",
                    width: 220
                }
        ]
        });
</script>
